body,
html {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow: hidden;
}

body {
display: flex;
justify-content: center;
align-items: center;
}

svg {
width: 512px;
height: 512px;
}